
* {
    outline: none;
    box-sizing: border-box;
}
html {
    font-size: 100%;
}
body {
    height: 100%;
    padding: 1rem;
    background-color: #f6f5f1;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, "Helvetica Neue", sans-serif;
    background-image: linear-gradient(45deg, #6e83fa 0%, #1d86db 100%);
}
@media screen and (min-width: 55em) {
    body {
        height: 100vh;
        margin: 0;
   }
}
h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
}

a { color:red; transition:0.5s; }

a:hover { color:blue; }

p, a, ul, li {
    color: #2d4338;
    font-weight: 100;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 1rem;
}
.calendar-contain {
    position: relative;
    left: 0;
    right: 0;
    border-radius: 0;
    width: 100%;
    overflow: hidden;
    max-width: 1000px;
    min-width: 1250px;
    margin: 1rem auto;
    background-color: #f5f7f6;
    box-shadow: 5px 5px 72px rgba(30, 46, 50, 0.5);
    color: #040605;
}
@media screen and (min-width: 55em) {
    .calendar-contain {
        margin: auto;
        top: 5%;
   }
}
.title-bar {
    position: relative;
    width: 100%;
    display: table;
    text-align: right;
    background: #f5f7f6;
    padding: 0.5rem;
    margin-bottom: 0;
}
.title-bar:after {
    display: table;
    clear: both;
}

.burger-lines {
    display: block;
    position: absolute;
    width: 18px;
    top: 15px;
    left: 0;
    right: 0;
    margin: auto;
    height: 1px;
    background: #040605;
}
.burger-lines:before, .burger-lines:after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #040605;
    content: "";
}
.burger-lines:before {
    top: -5px;
}
.burger-lines:after {
    bottom: -5px;
}

.title-bar-minimize, .title-bar-maximize, .title-bar-close {
    position: relative;
    float: left;
    width: 34px;
    height: 34px;
}
.title-bar-minimize:before, .title-bar-maximize:before, .title-bar-close:before, .title-bar-minimize:after, .title-bar-maximize:after, .title-bar-close:after {
    top: 30%;
    right: 30%;
    bottom: 30%;
    left: 30%;
    content: " ";
    position: absolute;
    border-color: #8e8e8e;
    border-style: solid;
    border-width: 0 0 2px 0;
}
.title-bar .title-bar-controls {
    display: inline-block;
    vertical-align: top;
    position: relative;
    float: right;
    width: auto;
}
.title-bar .title-bar-controls:before, .title-bar .title-bar-controls:after {
    content: none;
}
.title-bar .title-bar-minimize:before {
    border-bottom-width: 2px;
}
.title-bar .title-bar-maximize:before {
    border-width: 1px 1px 2px 1px;
}
.title-bar .title-bar-close:before, .title-bar .title-bar-close:after {
    bottom: 50%;
    top: 49.9%;
}
.title-bar .title-bar-close:before {
    transform: rotate(45deg);
}
.title-bar .title-bar-close:after {
    transform: rotate(-45deg);
}
.calendar-sidebar {
    width: 100%;
    margin: 0 auto;
    float: none;
    background: linear-gradient(120deg, #eff3f3, #e1e7e8);
    padding-bottom: 0.7rem;
}
@media screen and (min-width: 55em) {
    .calendar-sidebar {
        position: absolute;
        height: 100%;
        width: 30%;
        float: left;
        margin-bottom: 0;
   }
}
.calendar-sidebar .content {
    padding: 2rem 1.5rem 2rem 4rem;
    color: #040605;
}
.sidebar-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0.9rem;
    padding: 0.7rem 1rem;
    background-color: #f5f7f6;
}
.sidebar-nav-item {
    display: inline-block;
    width: 22px;
    margin-right: 23px;
    padding: 0;
    opacity: 0.8;
}
.sidebar-list {
    list-style: none;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}
.sidebar-list-item {
    margin: 1.2rem 0;
    color: #2d4338;
    font-weight: 100;
    font-size: 1rem;
}
.list-item-time {
    display: inline-block;
    width: 60px;
}
@media screen and (min-width: 55em) {
    .list-item-time {
        margin-right: 2rem;
   }
}
.sidebar-list-item--complete {
    color: rgba(4, 6, 5, 0.3);
}
.sidebar-list-item--complete .list-item-time {
    color: rgba(4, 6, 5, 0.3);
}
.sidebar-heading {
    font-size: 3.2rem;
    font-weight: bold;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 5rem;
    margin-top: 2rem;
}
.sidebar-heading a {
    float: right;
    font-weight: 300;
}
.calendar-heading-highlight {
    color: #2d444a;
    font-weight: 900;
}
.calendar-days {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    width: 100%;
    float: none;
    min-height: 580px;
    height: 100%;
    font-size: 12px;
    padding: 0.8rem 0 1rem 1rem;
    background: #f5f7f6;
}
@media screen and (min-width: 55em) {
    .calendar-days {
        width: 70%;
        float: right;
   }
}
.calendar-top-bar {
    display: flex;
    flex: 32px 0 0;
}
.top-bar-days {
    width: 100%;
    padding: 0 5px;
    color: #2d4338;
    font-weight: 100;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 1rem;
}
.calendar-week {
    display: flex;
    flex: 1 1 0;
}
.calendar-day {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    padding: 2.2rem 1.2rem 1.2rem;
}
.calendar-date-number {
    color: #040605;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 0.7;
}
@media screen and (min-width: 55em) {
    .calendar-date-number {
        font-size: 2.3rem;
   }
}
.calendar-week .unactive .calendar-date-number, .calendar-week .unactive .task-count {
    color: #c6c6c6;
}
.calendar-week .today .calendar-date-number {
    color: #ff2600;
}
.calendar-task {
    color: #040605;
    display: flex;
    font-size: 0.8rem;
}
@media screen and (min-width: 55em) {
    .calendar-task {
        font-size: 1rem;
   }
}
.calendar-task.calendar-task--today {
    color: #ff2600;
}
